# Streamlit Secrets Template
# Rename this file to 'secrets.toml' for local development (but don't commit it!)
# In Streamlit Cloud, add these to the 'Secrets' section in the app settings.

password = "research-is-cool"

